
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-dm-Serif-Display: 'DM Serif Display', serif;
    --font-padauk:'Padauk', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-red:red;
    --color-015FC7: #015FC7;
    --color-499FFE: #499FFE;
    --color-001124: #001124;
}
/* Загальні стилі */
body{
    width: 100%;
    font-family: 'Padauk';
    font-weight: 400;
    background: var(--color-001124);
}
a{
    text-decoration: none;
    font-style: normal;
    color:  #499FFE;
}
a:hover{
    color:  #2782e4;
}
label{
    font-size: 2rem;
    color: var(--color-white);
}
input{
    font-size: 2.2rem;
    border: 2px solid rgba(255, 255, 255, 0);
    padding: 3px;
}


.input-error{
    color: var(--color-red);
    border: 2px solid var(--color-red);
}

/* Стилі вікна авторизації. */
.authorization-page{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10% 0;
}
.authorization-page__img{
    width: 50%;
}
.authorization-page__form{
    width: 35%;
    margin-left: 3%;
}
h2{
    font-family: 'DM Serif Display';
    font-size: 4.5rem;
    color: var(--color-white);
    margin-bottom: 40px;
}
li{
    display: flex;
    flex-direction: column;
    margin-bottom: 12px; 
}
.authorization-page__form > p{
    font-size: 2rem;   
    color: var(--color-white);
    margin-top: 17px;
    margin-bottom: 10px;
}

.btn-submit,
.btn-login{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 60px;
    background: #015FC7;
    cursor: pointer;
}

/* Стилі вікна реєстрації. */
.registration-page{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom: 10%;
}
.registration-page__img{
    width: 35%;
}

img{
    width: 100%;
}

.registration-page__form{
    width: 35%;
    text-align: center;

}
.registration-page__form h2{
    margin-bottom: 60px;
}
.registration-page__form ul{
    text-align: start;
    margin-bottom: 10px;
}
.registration-page__form p{
    font-size: 1.5rem;
    color: var(--color-white);
    text-align: start;
    margin-bottom: 20px;
}

/* Стилі віконця помилки.*/
.error-box{
    height: 50%;
    background: rgba(0, 0, 0, 0.466);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 0;
    right: 0;
  }
  .error-box > p{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-red);
    padding: 30px;
    background: var(--color-white);
    border-radius: 10px;
    border: 2px solid var(--color-red);
  }

:disabled{
    background: #015dc76c; 
}