
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-style-normal: normal;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
body{
    background: var(--color-F5F5F5);
}
.main-page{
    width: 100%;
    max-width: 1620px;
    font-family: var(--font-roboto);
    margin: 0 auto;
}
.bth-up{
    position: fixed;
    bottom: 4vh;
    left: 85vw;
}
/* Шапка */
.header{
    width: 100%;
    background: var(--color-161616);
    /* position: fixed;
    top: 0;
    z-index: 1; */
}
.header-nav{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:60px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo img{
    width: 100%;
    display: block;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items li{
    margin: 5px;
}
.nav-items a{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}

/* Кнопка вибору */
.dropbtn {
    background: none;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 0 6px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, 
.dropbtn:focus {
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: var(--color-161616);
    min-width: 160px;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-CCCCCC);
    padding: 3px;
    display: block;
}
.show {
    display:block;
}
/* Головний контент */
.main{
    background-color: #2c96ec;
    padding: 10px;
}
.main h1{
    font-weight: var(--font-weight-700);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.works{
    padding: 20px; 
}
.works h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.works-box{
    margin: 0 auto;
    padding: 20px;
}

.works-box__card{
    border-radius: 20px;
    background: var(--color-CCCCCC);
    padding: 10px;
    margin: 30px;
    transition: all 0.3s;
}
.works-box__card:hover,
.works-box__card:focus{
    transform: scale(1.1);  
}
.works-box__card h3{
    font-weight: var(--font-weight-700);
    font-size: 3rem;
    line-height: 1.14;
    color: var(--color-111111);
    text-align: center;
}
.works-box__card p{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
    margin: 10px;
}
.works-box__card span{
    font-weight: var(--font-weight-400);
}
.works-box__card pre{
    font-weight: var(--font-weight-400);
    font-size: 1.5rem;
    line-height: 1.14;
}
.works-box__text{
    font-weight: var(--font-weight-700);
    font-size: 2.1rem;
    line-height: 1.14;
    margin: 10px;
}
.works-box__text span{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
}
.green{
    color: green;
}
.red{
    color: red;
}

.partners{
    margin: 0 auto;
    background: url(../imege/prapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.partners h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.partners__items{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
}
.partners__item{
    width: 40%;
    margin: 15px;
    transition: all 0.3s;
}
.partners__item:hover,
.partners__item:focus{
    transform: scale(1.1);
   
}
.partners__items__link{
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    background: #CCCCCC;
}
.partners__items__link img{
    width: 100%;
}
.partners__items__link p{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    margin: 15px;
    color: #161616;
}
/* Підвал */
.footer{
    background: var(--color-161616);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer li{
    margin: 5px;
}
.footer-link{
    font-weight: var(--font-weight-700);
    font-size: 2rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}
.time{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    color: var(--color-CCCCCC);
    padding: 3px; 
}


