
body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.main-page{
    width: 800px;
    margin: 0 auto;
}
.header{
    border: 2px solid black;
    border-radius: 30px;
    background-color: rgb(37, 26, 26);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px;
}
.header h1{
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: rgb(231, 223, 208);
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.main-nav{
    width: 100px;
    width: 30%;
    min-height: 400px;
    border: 2px solid red; 
    border-radius: 30px;
    background-color: rgb(143, 223, 196);
    margin: 10px;
    padding: 10px;
}
.main-section{
    width: 700px;
    width: 70%;
    border: 2px solid green;  
    border-radius: 30px;
    background-color: rgb(230, 121, 121);
    margin: 10px;
    padding: 10px;
}
.tasks h2{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 10px;
}
.tasks-1{
    border: 1px solid black;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
}
.tasks-1 h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 10px; 
}
.tasks-1 p{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
    margin: 5px;
}
.red{
    color: red;
}
.green{
    color: green;
}
.footer{
    border: 2px solid blue;
    background-color: rgb(37, 26, 26);
    border-radius: 30px;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 20px;
    color: rgb(231, 223, 208);
}