 /* Аніміція слайду */
@-webkit-keyframes fade {
from {opacity: .2} 
to {opacity: 1}
}
@keyframes fade {
from {opacity: .2} 
to {opacity: 1}
}
 /* Аніміція лоудера */
@keyframes rotationBreak {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 /* Аніміція слайду */
@-webkit-keyframes firstChild {
  0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
  100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
}
@keyframes firstChild {
  0% {left:100%; transform: scale(0.2) translate(-50%,-50%);}
  100% {left: -13%; transform: scale(0.2) translate(-50%,-50%);}
}

