
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0be039;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-2c96ec);
    transition: all 0.2s;
}

.current.link-focus{
    color:var(--color-2c96ec);
}

body{
    background: var(--color-F5F5F5);
}
.main-page{
    width: 100%;
    max-width: 1620px;
    font-family: var(--font-roboto);
    margin: 0 auto;
    background: #2c96ec;
}
.bth-up{
    position: fixed;
    bottom: 4vh;
    left: 85vw;
}
/* Шапка */
.header{
    width: 100%;
    background: var(--color-161616);
    border-radius: 0 0 0 35px;
    border-bottom: 5px solid var(--color-FFBB00);
    border-left: 5px solid var(--color-FFBB00);
}
.header-nav{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:80px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 1px;
}
.logo img{
    width: 100%;
    display: block;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items li{
    margin: 5px;
}
.nav-items a{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}

/* Кнопка вибору */
.dropbtn {
    background: none;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
.dropbtn:hover, 
.dropbtn:focus {
    color:var(--color-2c96ec);
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 90%;
    text-align: end;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #161616cc;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 25px 10px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-CCCCCC);
    padding: 3px;
    display: block;
    margin: 5px;
}
.show {
    display: block;
    text-align:start;
}
/* Головний контент */
.main h1{
    font-weight: var(--font-weight-700);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.works h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.works > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}

/* Секція 1 */
.work-1{
    min-height: 60vh;
    padding: 20px;
    border-radius: 0 0 35px 0;
    border-right: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.work-2{
  width: 80%;
  background-color: tan;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}
.work-2 > p{
    font-weight: var(--font-weight-400);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}
.work-2 span{
    font-style: var(--font-style-Italic);
    font-weight: var(--font-weight-600);
    font-size: 2rem;
}
.out{
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 60px;
    background: #015FC7;
    border-radius: 5px;
    cursor: pointer;
}

.link-homework{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    padding: 10px;
    color: var(--color-161616);
    cursor: pointer;
    transition: all 0.3s;
}



table,
td{
  border: 1px solid black;
  font-weight: var(--font-weight-400);
  font-size: 1.5rem;
  padding: 5px;
}
th {
  border: 1px solid black;
  font-weight: var(--font-weight-700); 
  font-size: 1.7rem;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
  background-color: #e9e3e7;
}
/* Стилі віконця помилки.*/
.error-box{
    height: 50%;
    background: rgba(0, 0, 0, 0.466);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20%;
    left: 0;
    right: 0;
}
.error-box > p{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: red;
    padding: 30px;
    background: var(--color-white);
    border-radius: 10px;
    border: 2px solid red;
}
/* Стилі для лоудера */
.box-loader {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #7879797e;
  }
  .loader {
    width: 100px;
    height: 100px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border: 5px solid var(--color-F6AD09-btn);
    position: absolute;
    left: 0;
    top: 0;
    animation: rotationBreak 3s ease-in-out infinite alternate;
  }
  .loader::after {
    border-color: var(--color-2c96ec);
    animation-direction: alternate-reverse;
  }
  /* Показати доудер. */
  .show-loader{
    display: flex;
  }

/* Партнери */
.partners{
    margin: 0 auto;
    background: url(../imege/prapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 5px;
    border-radius: 0 0 0 35px;
    border-left: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.partners h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}

/* Стилі слайдера */
.container{
    max-width: 100%;
    height: 80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 30px;
}
.slider {
    height: 750px;
    /* height: 100%; */
    width: 100%;
    display: flex;
    perspective: 1000px;
    position: relative;
    align-items:center;
    text-align: center;
    overflow: hidden;
}
.box1 > img,
.box2 > img,
.box3 > img,
.box4 > img,
.box5 > img,
.box6 > img,
.box7 > img {
    height:100%;
    border-radius: 20px;
}

.slider [class*="box"] {
    overflow: hidden;
    border-radius:20px;
    transition: all 1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    position:absolute;
}
.slider [class*="box"]:nth-child(7),
.slider [class*="box"]:nth-child(1) {
    width: 100vh;
    height: 60vh;
    transform: scale(0.2) translate(-50%,-50%);
    top: 10%;
    z-index:1;
}
.slider [class*="box"]:nth-child(2),
.slider [class*="box"]:nth-child(6) {
     width: 100vh;
    height: 60vh;
    transform: scale(0.4) translate(-50%,-50%);
    top: 20%;
    z-index:2;
}
.slider [class*="box"]:nth-child(3),
.slider [class*="box"]:nth-child(5) {
     width: 100vh;
    height: 60vh;
    transform: scale(0.6) translate(-50%,-50%);
    top: 30%;
    z-index:3;
}
.slider [class*="box"]:nth-child(4) {
    width: 60vw;
    height: 60vh;
    transform: scale(1) translate(-50%,-50%);
    top: 50%;
    z-index:4;
}
.slider [class*="box"]:nth-child(1){
    left:-13%;
}
.slider [class*="box"]:nth-child(2){
    left:-5%;
}
.slider [class*="box"]:nth-child(3){
    left:10%;
}
.slider [class*="box"]:nth-child(4){
    left:50%;
}
.slider [class*="box"]:nth-child(5){
    left:71%;
}
.slider [class*="box"]:nth-child(6){
    left:85%;
}
.slider [class*="box"]:nth-child(7){
    left:100%;
}
.slider .firstSlide {
    -webkit-animation:  firstChild 1s;
    animation:  firstChild 1s;
}

/* Підвал */
.footer{
  background: var(--color-161616);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 5px solid var(--color-FFBB00);
}
.footer li{
    margin: 5px;
}
.footer-link{
    font-weight: var(--font-weight-700);
    font-size: 2rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}
.time{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    color: var(--color-CCCCCC);
    padding: 3px; 
}