   /* Аніміція слайду */
  
    @-webkit-keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
    }
    @keyframes fade {
    from {opacity: .2} 
    to {opacity: 1}
    }
 /* Аніміція лоудера */
    @keyframes rotationBreak {
      0% {
        transform: rotate(0);
      }
      25% {
        transform: rotate(90deg);
      }
      50% {
        transform: rotate(180deg);
      }
      75% {
        transform: rotate(270deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }