/* Стилі другої сторінки */
.main-page{
    background: #e9eee6;
}
/* Стилі для лоудера */
.box-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #7879797e;
}
.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 5px solid var(--color-F6AD09-btn);
  position: absolute;
  left: 0;
  top: 0;
  animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loader::after {
  border-color: var(--color-2c96ec);
  animation-direction: alternate-reverse;
}
/* Показати доудер. */
.show-loader{
  display: flex;
}
/* Стилі списку коментарі.*/
.coment-list{
  font-weight: var(--font-weight-700);
  font-size: 1.8rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.coment-list >li{
  width: 45%;
  margin: 1%;
  padding: 10px;
  background-color: rgb(218, 213, 213);
}
.coment-list p{
  font-weight: var(--font-weight-500); 
  font-size: 1.5rem;
  margin: 5px;
}
.coment-list span{
  font-weight: var(--font-weight-700);
  font-size: 1.8rem;
}
.coment-list a{
  font-weight: var(--font-weight-700);
  font-size: 1.8rem;
  margin: 5px;
  color: rgb(78, 74, 182);
  cursor: pointer;
}

/* Стилі поля навігації. */
.nav{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.nav-box_page{
  display: flex;
}
.page-btn{
  font-weight: var(--font-weight-500);
  font-size: 1.8rem;
  border: 1px solid rgb(102, 96, 96);
  border-radius: 5px;
  padding: 4px;
  color: rgb(78, 74, 182);
  cursor: pointer;
  transition: all 0.3s;
}
.page-link{
  display: inline-block;
  font-weight: var(--font-weight-500);
  font-size: 1.8rem;
  margin: 1px;
  border: 1px solid rgb(102, 96, 96);
  border-radius: 5px;
  padding: 5px;
  color: rgb(78, 74, 182);
  cursor: pointer;
  transition: all 0.3s;
}
.nav-list{
  display: none;
}
.list-show{
  display: flex;
}
.page-btn:hover,
.page-link:hover,
.page-link:focus{
  background-color: rgb(180, 178, 178);
  color: black;
  transform: scale(1.1);
}
:disabled{
  filter: opacity(.2);
  cursor:default;
}
.active{
  background-color: rgb(180, 178, 178);
  color: black;
  transform: scale(1.1);
}
  /* Стилі віконця помилки.*/
.error-box{
  height: 30%;
  background: rgba(0, 0, 0, 0.466);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 0;
  right: 0;
}
.error-box > p{
  font-weight: var(--font-weight-700);
  font-size: 2.5rem;
  color: red;
  padding: 30px;
  background: var(--color-CCCCCC);
  border-radius: 10px;
  border: 2px solid red;
}

/* Підвал друга сторінка.*/
.footer-homework{
  background: var(--color-161616);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--color-FFBB00);
}