/* Стилі другої сторінки */
.main-page{
    background: #98f06f;
}

/* Стилі для лоудера */
.box-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #7879797e;
}
.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 5px solid var(--color-F6AD09-btn);
  position: absolute;
  left: 0;
  top: 0;
  animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loader::after {
  border-color: var(--color-2c96ec);
  animation-direction: alternate-reverse;
}
/* Показати доудер. */
.show-loader{
  display: flex;
}
/* Стилі карток. */
.heroes{
  font-weight: var(--font-weight-400);
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.heroes > li{
  width: 45%;
  background: var(--color-CCCCCC);
  padding: 5px;
  border-radius: 10px;
  margin: 1%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.heroes  p{
  margin: 5px;
}
.heroes img{
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}
.heroes span{
  font-weight: var(--font-weight-400);
  font-size: 2.2rem;
  font-style: italic;
}
.heroes button{
  /* height: 60px; */
  font-weight: var(--font-weight-500);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background: var(--color-2c96ec);
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.heroes button:hover{
  background: var(--color-077ddd);
  color: var(--color-CCCCCC);
}
.btn-user-heroes{
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-FFBB00);
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn-user-heroes:hover{
    background: var(--color-0be039);
    color: var(--color-161616);
}
/* Стилі віконця помилки.*/
.error-box{
  height: 30%;
  background: rgba(0, 0, 0, 0.466);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 0;
  right: 0;
}
.error-box > p{
  font-weight: var(--font-weight-700);
  font-size: 2.5rem;
  color: red;
  padding: 30px;
  background: var(--color-CCCCCC);
  border-radius: 10px;
  border: 2px solid red;
}

/* Підвал друга сторінка.*/
.footer-homework{
  background: var(--color-161616);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--color-FFBB00);
}