/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0ab12e;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}

/*Стилі для другої сторінки "Домашня робота" */
.homework-body{
    padding-top: 2%;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-2E2E2E);
    line-height: 2;
}
/* Шапка */
.header{
    width: 94%;
    background: var(--color-F5F5F5);
    border: 2px solid var(--color-CCCCCC);
    margin: 0 auto 2% auto;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.header__nav{
    color: var(--color-2c96ec);
    background: var(--color-CCCCCC);
    border: 2px solid var(--color-B2B2B2);
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}

/* Головний контент */
.main-content{
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto 2% auto;
    padding: 10px;
}

.section-1{
    width: 60%;
   
    background: var(--color-F5F5F5);
    border: 2px solid var(--color-CCCCCC);
    text-align: center;
}
.article-1__header,
.article-1__text,
.article-1__footer,
.article-2__header,
.article-2__text-1,
.article-2__text-2,
.article-2__footer{
    color: var(--color-0be039);
    background: var(--color-B2B2B2);
    border: 2px solid var(--color-9C9C9C);
    padding: 5px;
    margin: 1%;
}
.article-1__box{
    display: flex;
    justify-content: space-around;
    padding: 2px;
}
.article-1__box__text,
.article-1__box__aside{
    width: 48%;
    color: var(--color-0be039);
    background: var(--color-B2B2B2);
    border: 2px solid var(--color-9C9C9C);

}
.section-2{
    width: 37%;
    background: var(--color-F5F5F5);
    border: 2px solid var(--color-CCCCCC);
    text-align: center;
}
.section-2__nav{
    min-height: 91%;
}
.section-1__header,
.section-1__article-1,
.section-1__article-2,
.section-1__footer,
.section-2__header,
.section-2__nav{
    color: var(--color-2c96ec);
    background: var(--color-CCCCCC);
    border: 2px solid var(--color-B2B2B2);
    padding: 5px;
    margin: 2%;
    cursor: pointer;
}
/* Підвал */
.footer{
    width: 94%;
    background: var(--color-F5F5F5);
    border: 2px solid var(--color-CCCCCC);
    margin: 0 auto 2% auto;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}


.modal{
    width: 100%;
    height: 90vh;
    background-color: rgba(29, 15, 15, 0.548);
    padding: 20px;
    text-align: center;
    position: fixed;
    top: 3%;
    z-index: 1;
    display: none;
}
.show-modal{
    display: block;
}
.stop-overflow{
    overflow: hidden;
}
.modal-form{
    width: 80%;
    background: var(--color-F5F5F5);
    border: 1px solid var(--color-111111) ;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    overflow: auto;
}
.modal-form > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2%;
}
.modal-form > textarea{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    line-height: 1.2;
    border-radius: 10px;
}
.modal-form__btn{
    width: 180px;
    height: 50px;
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    cursor: pointer;
    background:var(--color-2c96ec);
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
    transition: all 0.3s;
}
.modal-form__btn:hover{
    background:var(--color-077ddd);
    color: var(--color-F5F5F5);
    transform: scale(1.1);
}

.highlight{
    background-color: rgba(111, 238, 69, 0.836);
}

