
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0be039;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
body{
    background: var(--color-F5F5F5);
}
.main-page{
    width: 100%;
    max-width: 1620px;
    font-family: var(--font-roboto);
    margin: 0 auto;
    background: url(../imege/background-with-snowflakes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bth-up{
    position: fixed;
    bottom: 4vh;
    left: 85vw;
}
/* Шапка */
.header{
    width: 100%;
    background: var(--color-161616);
    border-radius: 0 0 0 35px;
    border-bottom: 5px solid var(--color-FFBB00);
    border-left: 5px solid var(--color-FFBB00);
}
.header-nav{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:80px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 1px;
}
.logo img{
    width: 100%;
    display: block;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items li{
    margin: 5px;
}
.nav-items a{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}

/* Кнопка вибору */
.dropbtn {
    background: none;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
.dropbtn:hover, 
.dropbtn:focus {
    color:var(--color-2c96ec);
   
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 90%;
    text-align: end;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #161616cc;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 25px 10px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-CCCCCC);
    padding: 3px;
    display: block;
    margin: 5px;
}
.show {
    display: block;
    text-align:start;
}
/* Головний контент */
.main h1{
    font-weight: var(--font-weight-700);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.works h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.works > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}

/* Секція 1 */
.work-1{
    padding: 20px;
    border-radius: 0 0 35px 0;
    border-right: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.item-link{
    display: inline-block;
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-2E2E2E);
    margin: 10px;
    padding: 5px; 
    border: 2px solid var(--color-FFBB00);
    border-radius: 5px;
    background: var(--color-white);
    transition: all 0.3s;
}
.item-link:hover,
.item-link:focus{
    color:var(--color-CCCCCC);
    background: var(--color-2c96ec);
    transform: scale(1.1);
}


/* Партнери */
.partners{
    margin: 0 auto;
    background: url(../imege/prapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 0 0 0 35px;
    border-left: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.partners h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.partners__items{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
}
.partners__item{
    width: 40%;
    margin: 15px;
    transition: all 0.3s;
}
.partners__item:hover,
.partners__item:focus{
    transform: scale(1.1);
}
.partners__items__link{
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    background: var(--color-CCCCCC);
}
.partners__items__link img{
    width: 100%;
}
.partners__items__link p{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    margin: 15px;
    color: var(--color-161616);
}

/* Підвал */
.footer{
    background: var(--color-161616);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 5px solid var(--color-FFBB00);
}
.footer li{
    margin: 5px;
}
.footer-link{
    font-weight: var(--font-weight-700);
    font-size: 2rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}
.time{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    color: var(--color-CCCCCC);
    padding: 3px; 
}
