
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-0be039: #0be039;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
body{
    background: var(--color-F5F5F5);
}
.main-page{
    width: 100%;
    max-width: 1620px;
    font-family: var(--font-roboto);
    margin: 0 auto;
    background: url(../imege/background-with-snowflakes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.bth-up{
    position: fixed;
    bottom: 4vh;
    left: 85vw;
}
/* Шапка */
.header{
    width: 100%;
    background: var(--color-161616);
    border-radius: 0 0 0 35px;
    border-bottom: 5px solid var(--color-FFBB00);
    border-left: 5px solid var(--color-FFBB00);
}
.header-nav{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:80px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 1px;
}
.logo img{
    width: 100%;
    display: block;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items li{
    margin: 5px;
}
.nav-items a{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}

/* Кнопка вибору */
.dropbtn {
    background: none;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 5px 8px;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
}
.dropbtn:hover, 
.dropbtn:focus {
    color:var(--color-2c96ec);
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 90%;
    text-align: end;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #161616cc;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 25px 10px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-CCCCCC);
    padding: 3px;
    display: block;
    margin: 5px;
}
.show {
    display: block;
    text-align:start;
}
/* Головний контент */
.main h1{
    font-weight: var(--font-weight-700);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.works h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.works > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}

/* Секція 1 */
.work-1{
    padding: 20px;
    border-radius: 0 0 35px 0;
    border-right: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.work-2{
  width: 80%;
  background:var(--color-F5F5F5);
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
}
.work-2 > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    margin: 20px;
    line-height: 1.2;
}

/* Стилі таймера */
.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(231, 40, 40, 0.5);
}
.green{
    background: rgba(39, 211, 76, 0.5);
}
.container-stopwatch{
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
    margin: 30px auto;
}

.stopwatch-options {
    margin: 10px;
}
.stopwatch-options label{
    text-transform: uppercase;
    color: white;
    padding: 5px;
    background: rgba(0, 0, 0, 0.829);
    border-radius: 5px;
    /* display: block; */
    cursor: pointer;
}
.stopwatch-options input{
    display: none;
}

#opt1:checked + label {
    color: var(--color-2c96ec);
}
#opt2:checked + label {
    color: var(--color-2c96ec);
}

.stopwatch-display{
    background: rgba(22, 97, 12, 0.5);
    padding: 2rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 4rem;
    margin-bottom: 1rem;
}
.stopwatch-display > span{
    font-size: 4rem;
}

.stopwatch-display-sekond{
    font-size: 1.2rem;
}

.stopwatch-display-sekond > span{
    margin: 10px;
}


.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}

/* Стилі модального вікна */
.modal{
    width: 100%;
    height: 80vh;
    background-color: rgba(29, 15, 15, 0.815);
    position: fixed;
    top: 3%;
    left: 0;
    z-index: 1;
    display: none;
}

.show-modal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stop-overflow{
    overflow: hidden;
}
.modal-form{
    width: 40%;
    height: 50%;
    background: var(--color-F5F5F5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: auto;
    position: relative;
    transition: all 0.2s;
}
.modal-filter{
    filter: contrast(0.4);
}
.modal-form-red{
    background: rgba(231, 40, 40, 0.952);
    text-align: center;
    color: var(--color-F5F5F5);
    transform: scale(1.2);
}
.modal-form-green{
    background: rgba(39, 211, 76, 0.952);
    font-weight: var(--font-weight-700);
    font-size: 2.2rem;
    line-height: 1.2;
    color: var(--color-F5F5F5);
    text-align: center;
    transform: scale(1.2);
}
.modal-form-text-red{
    color: red;
    transform: scale(1.2);
}
.close{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
}
.modal-form > p{
    font-weight: var(--font-weight-500);
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 4%;
    transition: all 0.2s;
}
.modal-form > div{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.modal-form img{
    margin-right: 10px;
}
.input-tel{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.2;
    border-radius: 10px;
    padding: 5px;
}
.input-tel-red{
    border: 2px solid red;
}
.modal-form__btn{
    width: 180px;
    height: 50px;
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    cursor: pointer;
    background:var(--color-2c96ec);
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}
.btn-homework:hover,
.modal-form__btn:hover{
    background:var(--color-077ddd);
    color: var(--color-F5F5F5);
    transform: scale(1.1);
}

/* Партнери */
.partners{
    margin: 0 auto;
    background: url(../imege/prapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    border-radius: 0 0 0 35px;
    border-left: 5px solid var(--color-FFBB00);
    border-bottom: 5px solid var(--color-FFBB00);
}
.partners h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
/* Стилі слайдера */
.slider-show-container{
    max-width: 1000px;
    max-width: 100%;
    height: 80vh;
    position: relative;
    margin:  0 auto;
    
}

.slide {
    width:100%;
    height: 100%;
    margin: 0 auto;
    display: none;
    text-align: center;
}
.show-slide{
    display: block;
}
.slide > img {
    max-width: 100%;
    vertical-align: middle;
    height:100%;
    border-radius: 20px;
}

/* .slide > img:hover{
    transform: scale(1.1);
} */


.text {
    font-weight: var(--font-weight-600);
    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--color-F5F5F5);
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.alt-text{
    font-weight: var(--font-weight-700);
    font-size: 2.6rem;
    line-height: 1.2;
    color: var(--color-F5F5F5);
    padding: 8px 12px;
    border-radius: 10px;
    width: 100%;
    position: absolute;
    top: 30px;
    text-align: center;
    z-index: -1;
}
/* Аніміція слайду */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

/* Підвал */
.footer{
    background: var(--color-161616);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 5px solid var(--color-FFBB00);
}
.footer li{
    margin: 5px;
}
.footer-link{
    font-weight: var(--font-weight-700);
    font-size: 2rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}
.time{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    color: var(--color-CCCCCC);
    padding: 3px; 
}



