
@media screen and (max-width: 1200px){


}
@media screen and (max-width: 992px){
    .partners__item{
        /* min-width: 370px; */
        /* max-width: 600px; */
        /* width: 70%; */
      
    }
}
@media screen and (max-width: 768px){
    .partners__item{
      
        /* max-width: 600px; */
        /* width: 80%; */
      
    }
}