
/* Змінні */
:root{
    --font-roboto: 'Roboto', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
    --font-style-normal: normal;
    --font-style-Italic:  Italic;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-700: 700;
    font-size: 10px;
    --color-white:#ffffff;
    --color-F5F5F5:#F5F5F5;
    --color-FFBB00: #FFBB00;
    --color-F6AD09-btn: #F6AD09;
    --color-9C9C9C: #9C9C9C;
    --color-CCCCCC: #CCCCCC;
    --color-B2B2B2: #B2B2B2;
    --color-9b9595: #9b9595;
    --color-595959: #595959;
    --color-664400: #664400;
    --color-2E2E2E: #2E2E2E;
    --color-2c96ec: #2c96ec;
    --color-077ddd: #077ddd;
    --color-332200: #332200;
    --color-111111: #111111;
    --color-161616: #161616;
    --color-black:#000000;
}
/* Загальні стилі */
a{
    text-decoration: none;
    font-style: normal;
}
.link-focus:hover,
.link-focus:focus{
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
body{
    background: var(--color-F5F5F5);
}
.main-page{
    width: 100%;
    max-width: 1620px;
    font-family: var(--font-roboto);
    margin: 0 auto;
}
.bth-up{
    position: fixed;
    bottom: 4vh;
    left: 85vw;
}
/* Шапка */
.header{
    width: 100%;
    background: var(--color-161616);
}
.header-nav{
    width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:80px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 1px;
    margin-bottom: 1px;
}
.logo img{
    width: 100%;
    display: block;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items li{
    margin: 5px;
}
.nav-items a{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}

/* Кнопка вибору */
.dropbtn {
    background: none;
    font-family: var(--font-roboto);
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    color: var(--color-CCCCCC);
    padding: 5px 8px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, 
.dropbtn:focus {
    color:var(--color-2c96ec);
    transition: all 0.2s;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 90%;
    text-align: end;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: #161616cc;
    width: 100%;
    border-radius: 10px;
    margin-top: 8px;
    padding: 25px 10px 5px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
    font-weight: var(--font-weight-700);
    font-size: 1.8rem;
    color: var(--color-CCCCCC);
    padding: 3px;
    display: block;
    margin: 5px;
}
.show {
    display:flex;
    flex-wrap: wrap;
}
/* Головний контент */
.main{
    background:var(--color-2c96ec);
    padding: 10px;
}
.main h1{
    font-weight: var(--font-weight-700);
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 10px;
}
.works{
    padding: 20px; 
}
.works h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.works-box{
    margin: 0 auto;
    padding: 20px;
}

.works-box__card{
    border-radius: 20px;
    background: var(--color-CCCCCC);
    padding: 10px;
    margin: 30px;
    transition: all 0.3s;
}
.works-box__card:hover,
.works-box__card:focus{
    transform: scale(1.1);  
}
.works-box__card h3{
    font-weight: var(--font-weight-700);
    font-size: 3rem;
    line-height: 1.14;
    color: var(--color-111111);
    text-align: center;
}
.works-box__card p{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
    margin: 10px;
}
.works-box__card span{
    font-weight: var(--font-weight-400);
} 
/* Домашня робота № 5 */
.works-box__card-1{
    border-radius: 20px;
    background: var(--color-CCCCCC);
    padding: 10px;
    margin: 30px;
    transition: all 0.3s;
}
.works-box__card-1:hover,
.works-box__card-1:focus{
    transform: scale(1.1);  
}
.works-box__card-1 h3{
    font-weight: var(--font-weight-700);
    font-size: 3rem;
    line-height: 1.14;
    color: var(--color-111111);
    text-align: center;
}

.works-box__card-1__card{
    background:var(--color-2c96ec);
    background: url(../imege/img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 0.5fr);
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    color: var(--color-F5F5F5);
    font-family: var(--font-Raleway);
    font-style:var(--font-style-Italic);
}

.works-box-1__title{
    font-weight: var(--font-weight-600);
    font-size: 2.1rem;
    line-height: 1.14;
    grid-area: 1 / 3 / 1 / 3;
    color: var(--color-F5F5F5);
}

.works-box-1__text{
    font-size: 2rem;
    line-height: 1.14;
    padding: 20px;
    grid-area: 2 / 1 / 5 / 3; 
}

.works-box__footer__text{
    font-weight: var(--font-weight-500);
    font-size: 1.6rem;
    line-height: 1.14;
    grid-area: 5 / 1 / 5 / 1; 
}
.works-box__footer__date{
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    line-height: 1.14;
    grid-area: 6 / 3 / 6 / 3; 
    text-align: end;
}

.text-red{
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    line-height: 1.14;
    font-style:var(--font-style-normal);
}


.works-box__card-1__btn{
    border-radius: 10px;
    padding: 10px;
    border: none;
    background: rgb(18, 211, 18);
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    line-height: 1.14;
    margin: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.works-box__card-1__btn:hover{
    transform: scale(1.1); 
    background: rgb(4, 170, 4);
    color: var(--color-F5F5F5);
}
/* Крипто-гаманець. */
.box-6__nav{
    display: flex;
}
.box-6__nav__items{
    margin: 10px;
}
.box-6__nav__btn{
    border-radius: 50%;
    border: none;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
}
.box-6__nav__btn:hover{
    transform: scale(1.1); 
}
/* Калькулятор. */
.elm1 {
    grid-area: 1 / 1 / 2 / 3; 
}
.elm2 { 
    grid-area: 1 / 3 / 2 / 5; 
}
.elm3 { 
    grid-area: 2 / 1 / 3 / 3; 
}
.elm4 { 
    grid-area: 2 / 3 / 3 / 5; 
}
.elm5 { 
    grid-area: 3 / 1 / 4 / 3; 
}
.elm6 { 
    grid-area: 3 / 3 / 4 / 5; 
}
.elm7 { 
    grid-area: 4 / 2 / 5 / 4; 
}
.elm7 button{
    background: rgba(41, 151, 41, 0.733);
}
.elm8 {
    grid-area: 4 / 4 / 5 / 5;
}
.elm8 button{
    background: var(--color-F6AD09-btn);
}
.elm9 { 
    grid-area: 4 / 1 / 4 / 1; 
}
.calculate-element{
    background:var(--color-9b9595);
    padding: 30px;
    border-radius: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}
.calculate-element_number{
    display: flex;
    flex-direction: column;
}
.calculate-element_action label{
    display: inline-block;
    width: 90%;
    text-align: center;
    font-weight: var(--font-weight-500);
    font-size: 6rem;
    line-height: 1.14;
    border-radius: 5px;
    padding: 10px;
    background: #2c95ec8e;
    transition: all 0.3s;
}
.calculate-element_action label:focus,
.calculate-element_action label:hover{
    background: var(--color-077ddd);
    color: var(--color-F5F5F5);
}
input[type="radio"]{
    display: none;
}
input[type="checkbox"]{
    display: none;
}
input[type="radio"]:checked + label{
    background: var(--color-077ddd);
    color: var(--color-F5F5F5);
}
input[type="checkbox"]:checked + label{
    background: var(--color-077ddd);
    color: var(--color-F5F5F5);
}
.calculate input{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
    margin: 5px;
    background: var(--color-B2B2B2);
    border-radius: 5px;
    padding: 5px;
}
.calculate label{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
    cursor: pointer;
}
.calculate button{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s;
}
.calculate button:hover{
    background: rgb(9, 102, 9);
    color: var(--color-F5F5F5);
}


.works-box__card pre{
    font-weight: var(--font-weight-400);
    font-size: 1.5rem;
    line-height: 1.14;
}
.works-box__text{
    font-weight: var(--font-weight-700);
    font-size: 2.1rem;
    line-height: 1.14;
    margin: 10px;
}
.works-box__text span{
    font-weight: var(--font-weight-500);
    font-size: 2rem;
    line-height: 1.14;
}
.green{
    color: green;
}
.red{
    color: red;
}
/* Партнери */
.partners{
    margin: 0 auto;
    background: url(../imege/prapor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.partners h2{
    font-weight: var(--font-weight-700);
    font-size: 2.5rem;
    margin: 15px;
}
.partners__items{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    
}
.partners__item{
    width: 40%;
    margin: 15px;
    transition: all 0.3s;
}
.partners__item:hover,
.partners__item:focus{
    transform: scale(1.1);
   
}
.partners__items__link{
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    background: var(--color-CCCCCC);
}
.partners__items__link img{
    width: 100%;
}
.partners__items__link p{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    margin: 15px;
    color: var(--color-161616);
}
/* Підвал */
.footer{
    background: var(--color-161616);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer li{
    margin: 5px;
}
.footer-link{
    font-weight: var(--font-weight-700);
    font-size: 2rem;
    color: var(--color-CCCCCC);
    padding: 3px;
}
.time{
    font-weight: var(--font-weight-700);
    font-size: 1.5rem;
    color: var(--color-CCCCCC);
    padding: 3px; 
}


