
body{
    width: 100%;
    font-weight: 700;
    font-size: 24px;
    font-weight: 500;
    line-height: 0.5;
}
.main-page{
    width: 95%;
    margin: 0 auto;
}
.header{
    background-color: rgb(37, 26, 26);
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px;
}
.header h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    color: rgb(231, 223, 208);
}
.main-section{
    width: 95%;
    border-radius: 20px;
    background-color: rgb(70, 228, 70);
    margin: 10px;
    margin: 0 auto;
    padding: 10px;
}
.tasks h2{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 10px;
}
.tasks-1{
    border: 1px solid black;
    border-radius: 15px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 5px;
}
.tasks-1 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    margin: 10px; 
}
.tasks__text-1{
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(186, 201, 201);
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    color: red;
}
.tasks__text-2{
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(10, 27, 27);
    color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
.tasks__text-3{
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(221, 235, 235);
    border-radius: 15px;
    padding: 20px;
    color: blue;
}
.tasks__text-4{
    font-size: 24px;
    font-weight: 400;
    margin: 20px;
    background-color: rgb(10, 27, 27);
    color: aliceblue;
    border-radius: 15px;
    padding: 20px 0 20px 20%;
}
.tasks__text-5{
    font-size: 24px;
    font-weight: 400;
    border-radius: 15px;
    padding: 20px 0 20px 20%;
    background-color: rgb(42, 110, 236);
    color:yellow;
}
.tasks__text-6{
    font-size: 24px;
    font-weight: 400;
    border-radius: 15px;
    padding: 20px 0 20px 20%;
    background-color: rgb(221, 235, 235);
    color:green;
}
.tasks__text-7{
    font-size: 24px;
    font-weight: 400;
    background-color: rgb(10, 27, 27);
    color: aliceblue;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
}
.footer{
    /* border: 2px solid blue; */
    background-color: rgb(37, 26, 26);
    border-radius: 20px;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin: 20px;
    color: rgb(231, 223, 208);
}