/* Стилі другої сторінки */
.main-page{
    background: #e8ebe6;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav_item {
  cursor: pointer;
  background-color: blue;
  flex-basis: 34%;
  padding: 1rem;
  font-size: 1.6rem;
  font-weight: var(--font-weight-600); 
  color: white;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.nav_item:hover {
  background-color: yellow;
  color: black;
}

table,
td{
  border: 1px solid black;
  font-weight: var(--font-weight-400);
  font-size: 1.5rem;
  padding: 5px;
}
th {
  border: 1px solid black;
  font-weight: var(--font-weight-700); 
  font-size: 1.7rem;
  padding: 5px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  min-width: 400px;
  background-color: #e9e3e7;
}

tbody tr:nth-child(odd) {
  background-color: #c2bcc0;
}

tbody tr:nth-child(even) {
  background-color: #e6d6e6;
}


/* Стилі для лоудера */
.box-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #7879797e;
}
.loader {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  border: 5px solid var(--color-F6AD09-btn);
  position: absolute;
  left: 0;
  top: 0;
  animation: rotationBreak 3s ease-in-out infinite alternate;
}
.loader::after {
  border-color: var(--color-2c96ec);
  animation-direction: alternate-reverse;
}
/* Показати доудер. */
.show-loader{
  display: flex;
}



/* Стилі карток. */
/* .heroes{
  font-weight: var(--font-weight-400);
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.heroes > li{
  width: 45%;
  background: var(--color-CCCCCC);
  padding: 5px;
  border-radius: 10px;
  margin: 1%;
}
.heroes  p{
  margin: 5px;
}
.heroes span{
  font-weight: var(--font-weight-400);
  font-size: 2.2rem;
  font-style: italic;
}
.heroes button{
  font-weight: var(--font-weight-500);
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
  background: var(--color-2c96ec);
  margin: 15px;
  cursor: pointer;
  transition: all 0.3s;
}
.heroes button:hover{
  background: var(--color-077ddd);
  color: var(--color-CCCCCC);
}
.btn-user-heroes{
    font-weight: var(--font-weight-500);
    font-size: 1.5rem;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-FFBB00);
    margin: 15px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn-user-heroes:hover{
    background: var(--color-0be039);
    color: var(--color-161616);
} */
/* Стилі віконця помилки.*/
.error-box{
  height: 30%;
  background: rgba(0, 0, 0, 0.466);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20%;
  left: 0;
  right: 0;
}
.error-box > p{
  font-weight: var(--font-weight-700);
  font-size: 2.5rem;
  color: red;
  padding: 30px;
  background: var(--color-CCCCCC);
  border-radius: 10px;
  border: 2px solid red;
}

/* Підвал друга сторінка.*/
.footer-homework{
  background: var(--color-161616);
  padding: 10px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 5px solid var(--color-FFBB00);
}